[user]
	name = Dave Fass
	email = davefass@users.noreply.github.com
[pull]
	rebase = false
[core]
	editor = nano
	excludesfile = ~/.dotfiles/.gitignore-global
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
